<div *ngIf="Posts.length > 0; else AddMorePost">
  <div class="list-group">
    <div class="list-group-item list-group-item-action flex-column align-items-start"
       *ngFor="let post of Posts; let i = index">
      <p>{{post.Category}}</p>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{post.Title}}</h5>
        <small>3 days ago</small>
      </div>
      <img class="img" width="30px" height="30px" src="/assets/download.jpeg"/>
      <div>
        <p>Created By : {{post.UserId.Name}}</p>
        <small>{{post.UserId.Description}}</small>
      </div>
      <p class="mb-1">{{post.Content}}</p>
      <button class="btn btn-warning" (click)="onEditPost(post._id)">Edit</button>
      <button class="btn btn-danger" (click)="onDeletePost(i, post)">Delete</button>
      <button class="btn btn-success" (click)="onNavigateDetail(post._id)">Visit All Comments && Answers</button>
      <button class="btn btn-info">Save</button>
    </div>
  </div>
</div>
<ng-template #AddMorePost>
  Please add more Post
</ng-template>
<router-outlet></router-outlet>
