<form (ngSubmit)="onSubmit()" #PostEditForm="ngForm">
  <div class="form-group">
    <h1 class="center">Please create a new Post</h1>
    <input type="text" class="form-control"  aria-describedby="emailHelp"
           ngModel name='PostTitle'
           placeholder="Enter Title">
    <input type="text" class="form-control"
           ngModel name='PostContent'
           placeholder="Enter Content">
    <input type="text" class="form-control"
           ngModel name='PostImageLink'
           placeholder="Maybe Include a Image Link?">
    <input type="text" class="form-control"
           ngModel name='PostCategory'
           placeholder="What category you want it be in">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>
